* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

hrml {

    scroll-behavior: smooth;

}


:root {
  --fundo: #0a0a0a;         
  --fundo-claro: #1a1a1a;  
  --texto: rgba(231, 225, 225, 0.925);          
  --texto-secundario: #a9acafd2; 
  --destaque: #160ea8c4;        
  --destaque-2: #1649a8d3;     
  --vidro: rgba(255, 255, 255, 0.05); 
  --borda-vidro: rgba(255, 255, 255, 0.15); 
}


body{

background: linear-gradient(to bottom, var(--fundo), var(--fundo-claro));
color: var(--texto);

}
.navegacao {
    position: fixed;
 background:rgba(15, 23, 42, 0.70);
 top: 0;
 width: 100%;
z-index: 100;
padding: 15px;
}

.menu{
display: flex;
justify-content: center;
list-style: none;
gap: 80px;
}
.navegacao-link{
font-size: 22px;
text-decoration: none;
color: var(--texto-secundario);
font-weight: 500;
position: relative;
padding: 0.5px 0;
}

.navegacao-link::after {
  content: '';
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--texto), var(--texto-secundario));
  transition: width 0.4s ease;
}
.navegacao-link:hover:after{
    width: 100%;
}
.inicio{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.minhafoto{
  width: 300px;
  height: 300px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 360px;
  border: 4px solid var(--vidro);

}


.titulo{
  font-size: 50px;
  margin-top: 70px;
  color: var(--destaque-2);
  
}
.sobre-titulo-inicio{
  font-size: 25px;
  margin-top: 15px;
}
.Sobre{
  min-height: 100vh;
padding: 155px;
}
.sobre-titulo{
font-size: 50px;
color: var(--destaque-2);
text-align: center;
margin-bottom: 20px;
}
.Projetos__{
  min-height: 100vh;
}
.Projetos{
scrollbar-darkshadow-color: saddlebrown;
}
.sobre-caixa{
  text-align: center;
padding: 60px;
max-width: 1000px;
margin: 0 auto;
border-radius: 38px 0;
border: 2px solid var(--vidro);
backdrop-filter: blur(10px);
background: rgba(255, 255, 255, 0.05);
}





.meus-projeto{
  margin-top: 600px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: var(--destaque-2);

}
.projetos-caixa{
 display: flex;
 justify-content: center;
 padding: 100px;
 gap: 30px;
}
.image{
  border-radius: 16px;
}
.projeto_indi{
text-align: center;
padding: 45px;
max-width: 600px;
margin: 0 auto;
border-radius: 20px;
border: 2px solid var(--vidro);
backdrop-filter: blur(10px);
background: rgba(255, 255, 255, 0.05);
color: var(--texto-secundario);

}


.Contatos-titulo{
   display: flex;
  justify-content: center;
  font-size: 50px;
  color: var(--destaque-2);
  padding: 2%;
}



.formulario-contato{
padding: 5px;
max-width: 500px;
margin: 0 auto;
border: 1px solid var(--vidro);
backdrop-filter: blur(10px);
background: rgba(255, 255, 255, 0.05);
border-radius: 15px;

}
.grupo-form{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem ;
padding: 10px;
}
.text-form{
width: 450px;
padding: 1rem;
background: var(--vidro);
border-radius: 8px;
color: var(--texto-secundario);
border: 1px solid var(--fundo);
}
.text-form:focus{
  border-color: var(--destaque);
  box-shadow: 0 0 10px rgba(231, 225, 225, 0.925);
}

contatoto{
max-width: 100%;
}
.botao-form{
   background-color: #1a56d9; /* azul forte */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.botao{
  display: flex;
  justify-content: center;
  padding: 2%;
}
.particulas{
  position: fixed;
  
}